* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(48, 48, 48);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
}

.container h1 {
    color: white;
    padding-bottom: 20px;
}

.container {
    background-color: rgb(166, 168, 168);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 300px;
    gap: 10px;
}

.email,
.password {
    text-align: center;
    height: 30px;
    width: 80%;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    padding: 4px;
    margin: 3px;
    border-radius: 6px;
}

.botao {
    height: 45px;
    width: 60%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: height 0.1s ease;
}

.botao:hover {
    background-color: rgb(27, 27, 27);
    height: 50px;
}

.links {
    display: flex;
    gap: 30px;
    margin-top: 5px;
}

.forgot,
.register {
    text-decoration: none;
    color: rgb(63, 60, 60);
    
}

a:hover {
    text-decoration: underline;
}

.email:hover,
.password:hover {
    border: 2px solid black;
}